.title {
  .word {
    display: inline-block;
    white-space: nowrap;
  }

  .char {
    display: inline-block;
    overflow: hidden;
    > * {
      display: inline-block;
    }
  }

  &.visible {
    .char {
      transition: 0.45s ease-in-out all;
      transition-delay: calc(50ms * var(--i));
      opacity: 1;
    }
  }

  &:not(.visible) {
    .char {
      opacity: 0;
      transform: translateY(20%);
    }
  }
}
