#main_text_title div{
    display: flex;
}

#main_text_title span{
    color: #FF5858;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#proyectos_title{
    color: #FFF;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    margin-left: 3px;
}

#main_text_proyectos{
    display: flex;
    margin-top: 10px;
    margin-bottom: 40px;
}

#main_text_proyectos span{
    color: #FF5858;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#proyectos_title-2{
    color: #FFF;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    margin-left: 3px;
}

.complete_proyects{
    margin: 40px 0px 60px;
}

.small_proyects{
    margin: 40px 0px 60px;
}

@media (min-width:1301px) {
    .inicio .fila {
        margin-top: 40px;
    }
}

@media (max-width:350px) {
    html {
        font-size: 78.5%;
    }
}